*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

#wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height:100vh;
}

div:not(#wrapper){
    margin-top: 5rem;
}

.form > *{
    margin-top: 2rem;
}

input:nth-of-type(4){
    margin-bottom: 2rem;
}

